.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.spinner {
    font-size: 6rem;
    animation: 1s linear infinite rotate-spinner;
}

@keyframes rotate-spinner {
    to {
        transform: rotate(360deg);
    }
}
