@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Reset Password";
}


<form class="login-form" autocomplete="off" action="ResetPassword" method="post">
    <p>Reset Password</p>
    <div class="form-group">
        <div class="input-icon">
            <i class="icon-envelope"></i>
            <input class="form-control placeholder-no-fix" type="Text" autocomplete="off" placeholder="PF No." name="memberNo" required />
        </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="icon-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="Password" id="newpassword" required title="The Password Must have a Minimum of 8 Characters, atleat One UpperCase and LowerCase Letter and a Number/SpecialChar" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="icon-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password" name="PasswordConfirmation" id="confirmpassword" required title="Confirm New Password" />
                <span id="error" style="color:#e73d4a"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" onclick="myFunction()" />Show Passwords
                <span></span>
            </label>
        </div>
        <div class="form-actions">
            <a href="@Url.Action("ForgotPassword", "Login")" class="btn green pull-left">Back</a>
            <button type="submit" class="btn green pull-right" onclick="return validatePassword()"> Reset Password </button>
        </div>
        <br />
</form>
<script type="text/javascript">
    function myFunction() {
        var y = document.getElementById("newpassword");
        var z = document.getElementById("confirmpassword");
        if (y.type === "password" && z.type === "password") {
            y.type = "text";
            z.type = "text";
        } else {
            y.type = "password";
            z.type = "password";
        }
    }

    var password = document.getElementById("newpassword")
        , confirm_password = document.getElementById("confirmpassword");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            document.getElementById('error').innerHTML = "Passwords Don't Match";
            return false;
        } else {
            document.getElementById('error').innerHTML = '';
            return true;
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
