<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<table class="table table-striped table-borderless" table-hover>
    <thead>
        <tr>
            <th>Place</th>
            <th>Start Date</th>
            <th>End date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.Sponsor</td>
                <td>@record.StartDate</td>
                <td>@record.EndDate</td>
            </tr>
        }
    </tbody>
</table>
