@model IEnumerable<MembersPortal.Models.DetailedLedgerEntries>

@{
    ViewBag.Title = "Detailed Ledger";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container bg-success-subtle mt-4">
    <h5 class="text-center mb-4">Member Statement</h5>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Sponsor</th>
                    <th>Period</th>
                    <th>Date</th>
                    <th>Amount</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-right font-monospace">@item.Sponsor.Replace("-", "")</td>
                        <td class="text-right font-monospace">@item.PDate.Replace("-", "")</td>
                        <td class="text-right font-monospace">@item.ContributionPeriod.Replace("-", "")</td>
                        <td class="text-right font-monospace">@item.Amount.Replace("-", "")</td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    .container {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }
</style>

