
@{
    ViewBag.Title = "GetMemberStatament";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Contribution Statement";
}


<div class="container shadow-lg mt-4">


    <div class="col-md-12 mt-2 mt-md-0">

        <div class="container text-center">
            <div class="pdf-container">
                <iframe id="pdfViewer" width="80%" height="800px" class="pdf-responsive" src="@ViewBag.PdfUrl"></iframe>
            </div>
        </div>

    </div>

</div>

<style>
    .container {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }
</style>
